* {
    font-family: 'Montserrat';
    font-family: sans-serif;
}

.PagesIndex__Corpo {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Busca de processos*/

.PagesIndex__h1 {
    color: #005b95;
    font-size: 24pt;
    font-weight: normal;
}

/*Campo de pesquisa*/

.PagesIndex__pesquisa {
    border: 1px solid #9E9E9E;
    box-shadow: 1px 5px 3px #9E9E9E;

    padding: 15px 5px;
    margin: 20px 0 50px 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
}

.PagesIndex__Input {
    color: #9E9E9E;
    font-size: 16pt;
    font-weight: normal;

    display: flex;
    width: 100%;

    border: unset;
    outline: unset;

}

.PagesIndex__lupa {
    cursor: pointer;

    text-decoration: unset;
    background-color: unset;
    border: unset;
    outline: unset;

    text-align: left;
    display: flex;
    justify-content: flex-end;

    width: 10%;
}

.PagesIndex__lupa:active {
    font-size: 10pt;
    padding: 2px;
}

/*Campo de pesquisa*/


.PagesIndex__h2 {
    font-size: 14pt;
    font-weight: normal;

    text-align: center;
}

.PagesIndex__link {
    color: #005b95;
    font-size: 14pt;
    font-weight: bold;
    text-decoration: underline;

    cursor: pointer;
}

.PagesIndex__link:active {
    font-size: 13pt;
}

/*Parte do estilo quando o usuario solicitou uma pesquisa*/

.PagesIndex__Busca__corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PagesIndex__Busca__span {
    color:  #757575;
    font-size: 24pt;
    font-weight: normal;

    width: 100%;

    text-align: center;

    margin: 20px 30px 20px 30px;

    cursor: pointer;
}

.PagesIndex__Busca__button {
    background-color: white;

    border: 1px solid #9E9E9E;
    box-shadow: 1px 5px 3px #9E9E9E;
    outline: unset;

    padding: 16px 50px;
    
    margin-bottom: 20px;

    color: #757575;
    font-size: 16pt;
    font-weight: bold;

    cursor: pointer;
}

.PagesIndex__Busca__button:active {
    font-size: 15pt;
}

.PagesIndex__Busca__section{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .PagesIndex__pesquisa {
        width: 500px;
    }

    .PagesIndex__Busca__corpo {
        flex-direction: row;
        
        justify-content: start;

        margin: unset;
        padding: unset;

    }

    .PagesIndex__Busca__section {
        align-items: center;
        width: 100%;
    }

    .PagesIndex__pesquisa {
        align-items: center;
        justify-content: center;

        margin: 5px;
    }

    .PagesIndex__Busca__button {
        margin: 5px;
    }

    .PagesIndex__Busca__span {
        width: 150px;
    }

   
}