.PagesIndex__Corpo {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PagesIndex__h1 {
    color: #005b95;
    font-size: 24pt;
    font-weight: normal;
}

.PagesIndex__h2 {
    font-size: 14pt;
    font-weight: bold;
}

.PagesIndex__link {
    color: #005b95;
    font-size: 14pt;
    text-decoration: underline;

    cursor: pointer;
}

.PagesIndex__link:active {
    font-size: 13pt;
}