.conjuntoCards {
    display: flex;
    
}

.Card__article {
    border: 1px solid #9e9e9e;
    box-shadow: 0 5px 5px #9E9E9E;

    display: flex;
    flex-direction: row;

    width: 100%;

    margin: auto;
    margin-bottom: 20px;

    padding: 10px;
    padding-right: 0;

    font-size: 14pt;
    color: #757575;
}

.Card__image {
    background-image: url('../utils/Images/img.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100px;
    height: 100px;

    margin-right: 20px;
}

.Card__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    width: 100%;
}

.Card__label {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;

    width: 200px;
    height: 90px;
}

.Card__Interessados{
    display: flex;
    flex-direction: column;
}

/*Card Detalhado*/


.Card__Detalhado__Corpo {
    display: flex;
    flex-direction: column;

    width: 140%;
    height: 40%;

    border: 1px solid #9e9e9e;
    box-shadow: 0 5px 5px #9E9E9E;

    margin-bottom: 20px;

    padding: 10px;
}

.Card__Detalhado__header{
    display: flex;
    flex-direction: row;

    width: 100%;
}

.Card__Detalhado__header__geral {
    display: flex;
    flex-direction: column;

    width: 80%;
}
.Card__Detalhado__header__superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 10px;
    width: 100%;
}

.Card__Detalhado__header__superior label {
    width: 100%;

    color: #757575;
    font-size: 16pt;
}

.Card__Detalhado__header__inferior label {
    width: 100%;

    color: #757575;
    font-size: 16pt;
}

.Card__Detalhado__header__superior h2 {
    padding: unset;
    margin: unset;
    margin-bottom: 3px;

    color: #757575;
    font-size: 12pt;
    font-weight: bold;
}

.Card__Detalhado__header__inferior h2 {
    padding: unset;
    margin: unset;
    margin-bottom: 3px;

    color: #757575;
    font-size: 12pt;
    font-weight: bold;
}
.Card__Detalhado__section{
    width: 100%;
}

.Card__Detalhado__section h2{
    padding: unset;
    margin: unset;
    margin-bottom: 3px;
    margin-top: 20px;

    color: #757575;
    font-size: 12pt;
    font-weight: bold;
}
.Card__Detalhado__section__label {
    display: flex;
    flex-direction: column;

    width: 100%;
}
.Card__Detalhado__section__label span{
    display: flex;
    flex-wrap: wrap;

    color: #9E9E9E;
    font-size: 16pt;
    
}

.Card__Detalhado__footer {
    margin-top: 20px;
    width: 100%;
}

.Card__Detalhado__button__Editar{
    font-size: 14pt;
    font-weight: bold;
    color: #005b95;

    border: 1px solid #005b95;
    outline: unset;

    box-shadow: 0 5px 5px #9E9E9E;

    width: 150px;
    padding: 5px;

    float: right;

    margin-left: 20px;
}

.Card__Detalhado__button__Editar:active {
    font-size: 13pt;
}

.Card__Detalhado__button__Remover {
    font-size: 14pt;
    font-weight: bold;
    color: #757575;

    border: 1px solid #9E9E9E;
    outline: unset;

    box-shadow: 0 5px 5px #9E9E9E;

    width: 150px;
    padding: 5px;

    float: right;

    margin-left: 20px;
}

.Card__Detalhado__button__Remover:active {
    font-size: 13pt;
}



